/* ================================= 
  Base Styles
==================================== */

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

header {
    background-color: #22348C;
    color: white;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.header-content h1 {
    margin: 0;
}

.header-content a {
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}

.header-content a:hover {
    color: #22348C;
    background-color: #fff;
}

main {
    width: 90%;
    margin: 0 auto;
}

.post-list {
    list-style-type: none;
    padding: 0 0 10px 0;
    margin-left: 40px;
}

.post-list li {
    border-bottom: 1px dashed rgba(148, 148, 148, 0.5);
    margin-bottom: 10px;
}

.post-list li a {
    text-decoration: none;
    color: #22348C;
    font-size: 1.2rem;
}

.post-list li a:hover {
    color: #516eff;
}

#alert-button {
    color: #fff;
    background-color: #22348C;
    padding: 3px;
    border-radius: 5px;
}

#alert-button:hover {
    color: #22348C;
    background-color: #fff;
    border: 1px solid #22348C;
}

#editor { 
    height: 300px;
    width: 100%;
}

footer {
    background-color: red;
    color: white;
    margin: 20px auto 0 auto;
    padding: 5px 0;
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    height: 50px;
}

footer p {
    text-align: center;
}

.wrapper {
    min-height: calc(100vh - 70px);
}

/* ================================= 
  Blog Post Styles
==================================== */

.post-title {
    text-align: center;
    margin: 30px 0;
}

.post-publish-date {
    text-align: center;
    font-style: italic;
}

.post-publish-date p {
    margin-bottom: .5rem;
}

.post-author {
    text-align: center;
    font-style: italic;
    margin-bottom: 60px;
}

.post-author p {
    margin-top: .5rem;
}


/* ================================= 
  Post Submission Page Styles
==================================== */

.post-submission-header {
    margin-bottom: 40px;
}

.post-submission-form {
    width: 90%;
    margin: 0 auto;
}

input[type=text] {
    display: inline-block;
    height: 56px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #eff0f1;
    margin-bottom: 25px;
    box-sizing: border-box;
    padding: 0 15px;
}

#author,
#date {
    width: 48%;
}

.dual-form-fields {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.button {
    display: inline-block;
    background-color: #22348C;
    color: #fff;
    padding: 12px 30px;
    border-radius: 50px;
    border: 1px solid #22348C;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 30px;
    box-shadow: 3px 5px 3px 2px rgba(187, 187, 187, 0.5);
    transition: background-color .4s ease-in, transform .2s ease-in;
}

.button:hover {
    background-color: #fff;
    color: #22348C;
    transform: scale(.9);
}